<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sellastic</title>
  </head>

  <body>
    <img src="/logo.png" style="display:block;margin-left:auto;margin-right:auto;">
  </body>

</html>
