<html>
  <body>
    <form action="/item" enctype="multiform/form-data" method="post">
      <fieldset>
        fbid: <input type="text" name="facebookId"><br>
        title: <input type="text" name="title"><br>
        description: <input type="text" name="description"><br>
        price: <input type="text" name="price"><br>
        lat: <input type="text" name="lat"><br>
        long: <input type="text" name="long"><br>
        tags: <input type="text" name="tags"><br>
        Image:<input name="image" type="file">
        <input type="submit" value="Upload">
      </fieldset>
    </form>
  </body>
</html>
